<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kempaka.pmiikom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".image_upload" />
        <activity android:name=".database.SetupActivity" />
        <activity android:name=".database.MainRegistrasi" />
        <activity android:name=".database.karya_pmii" />
        <activity android:name=".database.agenda_pmii" />
        <activity android:name=".landasan.sejarah_kopri" />
        <activity android:name=".landasan.po" />
        <activity android:name=".landasan.Aswaja" />
        <activity android:name=".landasan.Ndp" />
        <activity
            android:name=".database.login2"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".database.upload_data" />
        <activity android:name=".landasan.sejarah_pmii" />
    </application>

</manifest>